events {
    worker_connections 1024;
}

http {
    include mime.types;
    server_tokens off;
    charset utf-8;

    server {
        listen 80;
        listen [::]:80;
        server_name {{ domain }};

        # Allow Let's Encrypt challenge requests
        location /.well-known/acme-challenge/ {
            root /var/www/certbot;
        }

        # For all other requests, serve the app
        location / {
            proxy_pass http://app:80;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }
    }
}